* {
    margin: 0;
    padding: 0;
}


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.container {
    max-width: 1250px;
    margin: auto;
}

header {
    background-color: #1E1E1E;
    padding: 50px auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    text-align: center;

}

nav h2 {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: bold;

}

.page-container {
    display: flex;
    gap: 32px;

    list-style: none;
}

.page-container a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;

}

.color-gradian {
    color: rgb(233, 2, 253);
}

.btn{
   padding: 10px 45px; 
   color: #FFFFFF;
   border:none;
   border-radius: 30px;
   background-color: rgb(233, 2, 253);
   font-size: 20px;
   font-weight: 600;
}