* {
    margin: 0;
    padding: 0;
}


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.container {
    max-width: 1250px;
    margin: auto;

}

header {
    background-color: #1E1E1E;
    padding: 50px auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    text-align: center;

}

.nav-container h2 {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: bold;

}

.page-container {
    display: flex;
    gap: 32px;

    list-style: none;
}

.page-container a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;

}

.color-gradian {
    color: rgb(233, 2, 253);
}

.btn {
    padding: 10px 45px;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    background-color: rgb(233, 2, 253);
    font-size: 20px;
    font-weight: 600;
}

.btn-2 {
    padding: 10px 45px;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 30px;
    background-color: #2A186C;
    font-size: 20px;
    font-weight: 600;
}

.banner {

    height: 750px;
    padding-left: 110px;
    align-items: center;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    display: flex;
    justify-content: center;


}

.banner-container {
    width: 550px;
    height: 560px;
    border: none;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.banner-container .img-icon {
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 350px;
    height: 350px;

}

.banner-container h4 {
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #00FF88;
    font-size: 16px;
    color: #FFFFFF;

}

.banner-container h4::before {
    position: absolute;
    z-index: -10;

}

.img-icon img {
    margin: 80px;

}

.banner-container h2 {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: bold;
    margin-top: 50px;
}

.banner-container p {
    font-size: 16px;
    color: #FFFFFF;
    margin: 20px 0px;

}

.About,
.gride {
    background-color: #1A0B2E;
    padding: 120px 200px;
}

.About-container {
    /* width: 1080px; */
    /* border: 1px solid palegreen; */
    text-align: center;
}

.About-container h2 {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: bold;
    /* padding-top: 20px; */
}

.About-container p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;

}

.card {
    border: none;

    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    margin-top: 150px;

}

.card h4 {
    font-size: 30px;
    color: #00FF88;
}

.card p {
    font-size: 16px;
    color: #FFFFFF;
}


.gride-container {
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;

}

.gride-container h2 {
    font-size: 45px;
    font-weight: bold;
    color: #FFFFFF;
}

.gride-card {

    border: none;
    display: grid;
    gap: 20px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.gride-card-container {
    border: none;
    border-radius: 10px;
    padding: 30px;
    background-color: #351165;
    align-items: center;
   

}

.gride-card-container h3 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
}

.gride-card-container p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
}

.gride-card-container img {
    height: 80px;
    width: 60px;
}

#hp {
    grid-row: span 2;

}

#device {
    grid-column: span 2;

}

#location {
    grid-column: span 2;

}

#msg {
    grid-column: span 2;
}

#resource {
    grid-row: span 1;

}