* {
    margin: 0;
    padding: 0;
}


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.container {
    max-width: 1250px;
    margin: auto;

}

header {
    background-color: #1E1E1E;
    padding: 50px auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    text-align: center;
    padding: 0px 50px;

}

.nav-container h2 {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: bold;

}

.page-container {
    display: flex;
    gap: 32px;

    list-style: none;
}

.page-container a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;

}

.color-gradian {
    background-image: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.btn {
    padding: 10px 45px;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;

    font-size: 20px;
    font-weight: 600;
}

.btn-2 {
    padding: 10px 45px;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 30px;
    background-color: #2A186C;
    font-size: 20px;
    font-weight: 600;
}

.banner {

    height: 750px;
    align-items: center;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;



}

.banner-container {
    width: 700px;
    height: 560px;
    /* border: 2px solid palevioletred; */
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.img-icon {
    display: grid;
    /* grid-template-columns:repeat(1,1fr) */
    justify-content: center;
    align-items: center;
    /* width: 350px; */
    margin: 0 auto;
    /* height: 350px; */

}

.box {
    /* width: 350px; */
    position: absolute;

}

.mcp {
    z-index: 10;
    top: 260px;
    right: 610px;

}

.hcp {
    top: 180px;
    left: 500px;
}

@keyframes base {
    from {
        bottom: 0px;
    }

    to {
        top: 30px;
    }
}

.base {
    top: 200px;
    right: 500px;
    border: none;
    animation: base 2s ease-in-out infinite alternate;



}

.base p {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00FF88;
    border-radius: 20px;
    height: 40px;
    width: 100px;

}


.banner-content h2 {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: bold;
    margin-top: 500px;
}

.banner-content p {
    font-size: 16px;
    color: #FFFFFF;
    margin: 20px 0px;

}

.About,
.gride,
.hero,
.footer {
    background-color: #1A0B2E;
    padding: 120px 200px;
}

.About-container {
    /* width: 1080px; */
    /* border: 1px solid palegreen; */
    text-align: center;
}

.About-container h2 {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: bold;
    padding-top: 20px;
}

.About-container p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;

}

.card {
    border: none;

    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    margin-top: 150px;

}

.card h4 {
    font-size: 30px;
    color: #00FF88;
}

.card p {
    font-size: 16px;
    color: #FFFFFF;
}


.gride-container {
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;

}

.gride-container h2 {
    font-size: 45px;
    font-weight: bold;
    color: #FFFFFF;
}

.gride-card {

    border: none;
    display: grid;
    gap: 20px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.gride-card-container {
    border: none;
    border-radius: 10px;
    padding: 30px;
    background-color: rgba(83, 60, 114, 1);
    align-items: center;


}

.gride-card-container h3 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
}

.gride-card-container p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
}

.gride-card-container img {
    height: 80px;
    width: 60px;
}

#hp {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

#device {
    grid-column: span 2;

}

#location {
    grid-column: span 2;

}

#msg {
    grid-column: span 2;
}

#resource {
    grid-row: span 1;

}




.hero-card {

    border: none;
    padding: 20px;

}

.hero-card-2 {
    display: flex;
    gap: 20px;
    justify-content: center;

}

.hero-container h2 {
    font-size: 45px;
    color: #FFFFFF;
    margin: 0px 0px 50px 0px;
    text-align: center;
}

.hero-cd {
    height: 350px;
    width: 240px;
    border: none;
    background-color: rgba(83, 60, 114, 1);
    border-radius: 10px;
    padding: 20px;
}

.hero-cd iframe {
    width: 235px;
}

.hero-card h3 {
    color: #FFFFFF;
    font-size: 20px;
}

.hero-card p {
    color: #FFFFFF;
    font-size: 16px;
}

.color-feature p {
    color: #00FF88;
}

.hero-host {
    border: none;
    background-color: rgba(83, 60, 114, 1);
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.hero-host-content h3 {
    color: #FFFFFF;
    font-size: 26px;
    margin-bottom: 10px;
}

.hero-host-content p {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 10px;

}

.icon {
    display: flex;
    gap: 20px;
    width: 230px;
}

.icon-img {
    border: 2px solid #9100F8;
    border-radius: 20px;
    height: 15px;
    padding: 10px 10px;
    align-items: center;
}

.footer {
    /* border: 2px solid #F7E93F; */
    justify-content: center;
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;


}

.footer h2 {
    color: #FFFFFF;
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;

}

.footer-content {
    /* border: 2px solid peru; */
    margin-bottom: 30px;
    align-items: center;
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.footer-content p {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.footer-copy {
    color: rgba(255, 255, 255, 1);
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.page-container {
    display: flex;

}

.button {
    display: block;
}

@media screen and (max-width:576PX) {
    .container {
        width: 100%;
    }

    header {

        padding: 10px auto;
    }

    .nav-container h2 {
        font-size: 30px;
    }



    .button {
        display: none;
    }

    .page-container {
        display: none;

    }

    .nav-container menu {
        height: 10px;
        width: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 0px 50px;
    }

    .About-container h2 {
        font-size: 30px;
        font-weight: bold;
    }

    .About-container p {
        font-size: 14px;
        font-weight: 300;
    }

    .banner {

        height: 400px;
        height: 386px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: cover;


    }

    .banner-container {
        width: 100%;
        height: 100px;
        padding: 20px 10px;

    }

    .img-icon {
        display: gride;
        /* grid-template-columns:repeat(1,1fr) */
        justify-content: center;
        align-items: center;
        width: 80px;
        margin: 0 auto;
        height: 80px;

    }

    .banner-content h2 {

        font-size: 30px;
        font-weight: 700;
        margin-top: 230px;
    }

    .banner-content p {
        font-size: 14px;
        margin: 8px 0px;

    }

    .btn-2 {
        margin-top: 8px;
    }


    .mcp {
        z-index: 1;
        top: 170px;
        right: 200px;
        height: 40px;
        width: 50px;
    }

    .mcp img {
        width: 50px;
        height: 60px;

    }

    .hcp {
        top: 130px;
        left: 160px;
    }

    .hcp img {

        height: 150px;
        width: 150px;

    }

    @keyframes base {
        from {
            bottom: 0;
        }

        to {
            top: 30px;
        }
    }

    .base {
        top: 130px;
        right: 150px;
        animation: base 2s ease-in-out infinite alternate;
    }

    .base p {
        font-size: 18px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00FF88;
        border-radius: 20px;
        height: 40px;
        width: 60px;

    }


    .About,
    .gride,
    .hero,
    .footer {

        padding: 15px;
    }

    .card {
        height: 120px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 10px auto;
        max-width: 100%;
        padding: 20px;

    }

    .gride-card {
        display: grid;
        gap: 20px;
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);

    }

    .gride-container {
        margin-bottom: 20px;
    }

    .gride-card-container {
        width: 300px;
        border: 2px solid palegreen;



    }

    .gride-container h2 {
        font-size: 24px;
        font-weight: 500;

    }

    .hero-card {
        padding: 10px;

    }


    .hero-container h2 {
        font-size: 30px;
    }

    .hero-card-2 {
        flex-direction: column;
    }

    .hero-host {

        flex-direction: column;

        height: 400px;
        padding: 40px;
    }


    .hero-host-content h3 {
        font-size: 20px;
    }

    .hero-host-content p {
        font-size: 12px;
    }

    .footer h2 {

        font-size: 25px;
    }

    .footer-content p {
        font-size: 18px;


    }

    .footer-content {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

    }

    .footer-copy {
        font-size: 15px;
    }
}